@import './libs/normalize.scss';
@import './block/fonts';
@import './variable/variable';
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
.container {
    
    width: 1200px;
    margin: 0 auto;
}

@import './block/burger';
@import './block/header';
@import './block/main';
@import './block/button';
@import './block/advantages';
@import './block/title';
@import './block/benefit';
@import './media/container__media';
@import './media/header__media';
@import './media/main__media';
@import './media/advantages__media';
@import './media/benefit__media';