.btn {
    background: $bg_color;
    border: 1px solid $bg_color;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 700;
    text-align: center; 
    text-transform: uppercase;
    color: $header_black;
    &_big {
        width: 399px;
        height: 64px;
        font-size: 16px;
        line-height: 24px;
        background: $orange_color;
        border: 1px solid $orange_color;
        color: $bg_color;
        padding: 20px 0;
    }
    &_mini {
        width: 161px;
        height: 44px;
        padding: 12px 0;
        font-size: 16px;
        line-height: 20px;
        &_active{
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
           
        }
        &:hover{
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
        }
    }
    
    &__block {
        
        &_next{
            font-size: 16px;
            line-height: 24px;
            width: 202px;
            height: 56px;
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
            display: block;
            margin: 0 auto;
            margin-top: 8px;
            text-decoration: none;
            padding: 16px 0;
            span {
                margin-left: 15px;
            }
        }
        &_prev {
            margin-top: 13px;
            color: $orange_color;
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
            
          
        }
    }
    
    &_layer {
        text-align: left;
        padding-left: 16px;
        background: $bg_color;
        border: 1px solid #E0E0E0;;
        color: #828282;
        font-weight: 400;
        &_active {
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
        }
        &:hover{
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
        }

    }
    &_delivery,
    &_post{
        width: 370px;
        height: 56px;
        text-align: left;
        padding-left: 16px;
        border: 1px solid #E0E0E0;;
        color: #828282;
        font-weight: 400;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &_active {
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
        }
        &:hover{
            background: $orange_color;
            border: 1px solid $orange_color;
            color: $bg_color;
        }
    }
}