.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;   
}
.dot{   
    width: 16px;
    height: 16px;
    background: $border_color;
    border: 4px solid $bg_color;
    border-radius: 50%;
    margin-right: 4px;
    &_active{
        background: $orange_color;
        border: 4px solid $border_color;
    }
}