.guarantees{
    padding: 100px 0;
    background: $bg_color;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_img{
            width: 347px;
            height: 355px;
            img{
                width: 100%;
            }
        }
        &_context {
            width: 756px;
            height: 410px;
        }
    }
    &__list{
       margin-top: 40px;
   
       &_item{
        position: relative;
        list-style: none;
        margin-left: 46px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $light_grey;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 30px;
            height: 30px;
            margin-left: -46px;
            background: url('../icons/check.png') center center/cover no-repeat
        }
       } 
    }
}