.main {
  
    height: 800px;
    padding-top: 86px;
    background: #b5b5b514;
    margin-bottom: 56px;
//#b5b5b514;
    &__wrapper{
        position: relative;
        
    }
    &__bg{
        // display: none;
        position: absolute;
        top: -5px;
        right: -286px;
        z-index: -1;
        width: 786px;
        height: 709px;
        &_img {
            width: 786px;
            height: 709px;
            img {
                width: 100%;
            } 
        }
        &_block {
            position: absolute;
            top: 215px;
            left: -14px;
            width: 200px;
            height: 200px;
            background: $bg_color;
            box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
            border-radius: 50%;
            padding: 43px 34px;
            
        }
        &_block-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $light_grey;
            span {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;

            }
        }
        &_block-wrap{
            position: relative;
            img {
                position: absolute;
                top: -58px;
                left: -23px;
                width: 82px;
                height: 78px;
            }
        }
    }

    &__title {
        width: 896px;
        height: 135px;
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
        text-transform: uppercase;
        color: $header_black;
        margin: 0;
        span {
            display: block;
            color: $orange_color;
        }
    }
    &__subtitle {
        
        width: 286px;
        height: 65px;
        background: $bg_color;
        border-radius: 8px;
        padding: 10px 20px;
        font-weight: 700;
        font-size: 26px;
        line-height: 45px;
        text-transform: uppercase;
        color: $orange_color;
        margin-top: 20px;
    }
    
    &__garant {
        margin-top: 25px;
        position: relative;
        &_text {
            position: absolute;
            top: 13px;
            left: 80px;
            font-weight: 600;
            font-size: 20px;
            color: $bg_color;
        }
    }
    &__text {
        margin-top: 25px;
        width: 590px;
        height: 64px;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $light_grey;
    }
    
    
    &__button {
        margin-top: 40px;
        
        &_text {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: $header_black;
            margin-left: 40px;
        }
    }
    &__our-work {
        width: 100%;
        position: absolute;
        bottom: -266px;
        display: flex;
        justify-content: space-between;

        &_item{
            position: relative;
            width: 380px;
            height: auto;
            background: $bg_color;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 16px;
            padding: 30px;
        }
        &_icon {
            position: absolute;
            top: -25%;
            left: 50%;
            transform: translateX(-50%);
            width: 64px;
            height: 64px;
            padding: 12px;
            background: $bg_color;
            border-radius: 50%;
            img {
                width: 40px;
                height: 40px;
            }
        }
        &_text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $light_grey;
            span {
                display: block;
                font-weight: 700;
                font-size: 30px;
                line-height: 45px;
                text-align: center;
                color: $header_black;
            }
            
        }
        &_dots {
            position: absolute;
            bottom: -200px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            width: 100px;
            justify-content: space-between;
            list-style-type: none;
            .item_dot{
                position: relative;
                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color:  #E6E6E6;
                    border: 3px solid #ffffff;
                    position: absolute;
                    
                }
                &_active {
                    &::before {
                        content: "";
                        background-color: $orange_color;
                       
                       
                    }
                }
            }
        }

    }
    
}