.materials {
    background: $light_white;
    padding: 100px 0;
    height: 1050px;
    &__block {
        display: flex;
        align-items: flex-start;
        margin-top: 40px; 
        flex-wrap: wrap;
    }
    &__station,
    &__stock {
        max-width: 585px;
        height: 777px;
        &__img {
            max-width: 585px;
            height: 520px;
            background: $light_white;
            border-radius: 16px;
            img {
                width: 100%;
            }
        }
    }
    &__station {
          margin-right: 30px;
        &__img{
            margin-top: 57px;
            padding: 30px 22px 30px 20px;  
        }
    }
    &__stock {
        &__img {
            margin-top: 30px;
            padding: 43px 20px 35px 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            &_block{
                width: 123px;
                height: 200px;
                img{
                    width: 100%;
                }
                div{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: $header_black;
                }
            }
        }
    }
   
    &__station,
    &__stock {
        &__list{  
            padding-left: 20px;
            margin-top: 20px;   
        }
        &__item {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $light_grey;
        }
    }
}