.reviews{
    position: relative;
    padding-top: 76px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 31px;
        margin-top: 40px;   
        overflow: hidden;          
    }
    &__item{
        position: relative;
        &_video{
            display: block;
            text-decoration: none;
            padding: 16px 16px 16px 19px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: $bg_color ;
        }
    }
    

}