.reviews{
    position: relative;
    padding: 76px 0;
    &__wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 31px;
        margin-top: 40px;             
    }
    &__item{
        position: relative;
        &_video{
            display: block;
            text-decoration: none;
            padding: 16px 16px 16px 19px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: $bg_color ;
        }
    }
    &__arrow{
        position: absolute;
        top: 50%;
        width: 56px;
        height: 56px;
        padding: 16px;
        border-radius: 50%;
        background: $bg_color;
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
        font-size: 24px;
        line-height: 20px;
        font-family: fantasy;
        &_active{
            color: $orange_color;
        }
        &_left{   
            left: 20%;
        }
        &_right{
            right: 20%;
        }
    }

}