.title {
    font-weight: 700;
    font-size: 26px;
    line-height: 45px;
    text-transform: uppercase;
    color: $header_black;
    text-align: center;
    &__block {
        font-size: 24px;
        display: block;
        margin-top: 64px;
        margin-top: 24px;
        margin-bottom: 43px;
        
    }
    &__station,
    &__stock {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
    }
}


@media (max-width: 768px) {
    .title {
        text-align: center;
        font-size: 21px;
        line-height: 32px;
        &__station,
        &__stock,
        &__block {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
    }

}

@media (max-width: 576px) {
    .title {
        &__station,
        &__stock,
        &__block {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }
    }

}



@media (max-width: 360px) {
    .title{
        font-size: 20px;
        line-height: 30px;
        &__benefit,
        &__materials {
            font-size: 18px;
            line-height: 27px;
        }
        &__block {
            margin-bottom: 24px;
            margin-top: 30px;
        }
    }

}