@media (max-width:1240px) {
    .advantages {
        &__list {
            grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
            grid-template-rows: repeat(3, 341px);
            grid-auto-rows: 341px;
           
        }
        &__item {
            
            &:nth-child(2) {
                border-right: none;
                border-bottom: 1px solid #E6E6E6;;
            }
            &:nth-child(3) {
                border-right: 1px solid #E6E6E6;
                border-bottom: 1px solid #E6E6E6;;
            }
            &:nth-child(4) {
                border-right: none;
                border-bottom: 1px solid #E6E6E6;
                
            }
            &:nth-child(5) {
                border-right: 1px solid #E6E6E6;
                
            }
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 50px 0;
        &__list {
            grid-template-columns: minmax(350px, 1fr);
            grid-template-rows: repeat(6, 344px);
            grid-auto-rows: 344px; 
            
        }
        &__item {
            &:nth-child(1) {
                border: none;
            }
            &:nth-child(2) {
                border: none; 
            }
            &:nth-child(3) {
                border: none;
            }
            &:nth-child(4) {
                border: none;
                
            }
            &:nth-child(5) {
                border: none;
                
            }
        }
    }
}
@media (max-width: 360px) {
    .advantages {
      
        &__list {
            grid-template-columns: minmax(320px, 1fr) ;
            grid-template-rows: repeat(6, 259px);
            grid-auto-rows: 259px;
           
        }
        &__item{
            margin-top: 20px;
            padding: 0;
            &_title {
                font-size: 16px;
                line-height: 24px;
            }
            &_descr {
                font-size: 13px;
                line-height: 24px
            }
            &_img1{
                width: 73px;
            }
            &_img2{
                width: 109px;
            }
            &_img3{
                width: 159px;
            }
            &_img4{
                width: 59px;
            }
            &_img5{
                width: 108px;
            }
            &_img6{
                width: 89px;
            }
            &_img1,
            &_img2,
            &_img3,
            &_img4,
            &_img5,
            &_img6 {
                height: 80px;
            }
        }
    }
}