@media (max-width: 1340px) {
    .benefit {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__wall,
        &__floor {
            display: block;
            margin: 0 auto;
        }
        
    }
}
@media (max-width: 768px) {
    .benefit {
        padding: 50px 0;
        &__wall,
        &__floor {
            &_item {
                width: 500px;
            }
        }
    }
}
@media (max-width: 576px) {
    .benefit {
        &__wall,
        &__floor {
            &_item {
                width: 350px;
            }
        }
    }
}
@media (max-width: 360px) {
    .benefit {
        &__wall,
        &__floor {
            &_item {
                width: 320px;
                padding-left: 40px;
                &::before{
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: 0px;
                }
            }
            &_text {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}