@media (max-width: 1240px) {
    .materials{
        padding: 50px 0;
        height: 1755px;
        &__block{
            flex-direction: column;
            align-content: center;
            
        }
    }
}
@media (max-width: 768px) {
    .materials{
        height: 1890px;
        &__station,
        &__stock{
            margin-right: 0;
            width: 500px;
            height: 600px;
            &__img {
                margin: 0 auto;
                width: 320px;
                height: 284px;
                &_block{
                    img{
                        width: 100%;
                    }
                }
            }
            
        }
    }
}
@media (max-width: 576px) {
    .materials{
        height: 2150px;
        &__station,
        &__stock{
            width: 320px;     
        }
    }
}
